<script>
  import CreateMenu from "./CreateMenu.svelte";
</script>

<svelte:head>
  <title>IcsMerge</title>
  <meta name="description" content="A free tool to merge ics files from online sources" >
  <meta name="keywords" content="ics merge ical" > 
</svelte:head>

<header class="container">
  <hgroup>
    <h1>Ics Merger</h1>
    <h2>A free tool to merge ics files from online sources</h2>
  </hgroup>
</header>

<main class="container">
  <section id="create"><CreateMenu /></section>
</main>

<footer class="container">

</footer>