<script lang="ts">
  import { browser } from "$app/environment";

  interface Source {
    type: "url" | "file";
    name?: string;
    filter?: string;
    value: string;
  }

  const createFormValues = { urls: [] as Source[], filter: "" };
  let createdUrl = "";
  $: if (!browser || !createFormValues.urls.filter((c) => c.value).length) {
    createdUrl = "";
  } else {
    const { urls, filter } = createFormValues;
    const sources = urls
      .filter((c) => c)
      .map((url, index) => 
        `source=${encodeURIComponent(url.value)}` 
        + (url.filter? `&filter${index}=${encodeURIComponent(url.filter)}` : ""),
      )
      .join("&");
    createdUrl = `${location.origin}/merge?${sources}${
      filter ? "&filter=" : ""
    }${encodeURIComponent(filter)}`;
  }
  const removeSource = (index: number) =>
    (createFormValues.urls = createFormValues.urls.filter(
      (_, i) => index !== i
    ));

  const addSource = (url: Source) =>
    (createFormValues.urls = [...createFormValues.urls, url]);

  let nextSubmittedFile: FileList,
    nextSubmittedUrl: string,
    innerForm: HTMLFormElement;

  const submitInnerForm = () => {
    if (nextSubmittedFile && nextSubmittedFile.length) {
      const file = nextSubmittedFile.item(0)!;
      const reader = new FileReader();
      reader.addEventListener("load", (event) => {
        if (typeof event.target?.result === "string")
          addSource({
            type: "file",
            name: file.name,
            value: event.target.result,
          });
      });
      reader.readAsDataURL(file);
    } else if (nextSubmittedUrl) {
      addSource({
        type: "url",
        value: nextSubmittedUrl,
      });
    }
    innerForm.reset();
  };
</script>

<h2 id="create">Create a Url</h2>
<p>
  You can create a url that contains the required information for the service to
  get the ics files it needs, and potentially how to filter it.<br />
  This url can then easily be used to replace the original ics sources in calendar
  programs, such as google calendar.
</p>

<!-- Main form to enter sources into -->
<form class="urlform" on:submit|preventDefault>
  <!-- Input for the global text filter -->
  <article>
    <label for="filter">
      Filter
      <sup
        title="If a filter is set, only events containing it in their summary will appear in the result"
        >ℹ️</sup
      >
      <input
        bind:value={createFormValues.filter}
        type="text"
        name="filter"
        id="filter"
      />
    </label>
  </article>
  <!-- Subform to create additional sources with-->
  <article>
    <form bind:this={innerForm} on:submit|preventDefault={submitInnerForm}>
      <label for="sourceUrl" style:width="100%"
        >Source URL:
        <input id="sourceUrl" type="url" bind:value={nextSubmittedUrl} />
      </label>
      or
      <label for="sourceFile"
        >Source File:
        <input
          id="sourceFile"
          type="file"
          bind:files={nextSubmittedFile}
          on:change={submitInnerForm}
          accept=".ics,text/calendar"
        />
      </label>
    </form>
  </article>
  <!-- Listing of sources -->
  {#each createFormValues.urls as source, index}
    <article class="source-row">
      <div>
        {#if source.type === "url"}
          <label for="icsfile#{index}">
            Source {index + 1}
            <input
              bind:value={source.value}
              placeholder="https://example.com/path/to/file.ics"
              type="url"
              name="icsfile#{index}"
              id="icsfile#{index}"
            />
          </label>
        {:else}
          <label>
            Source {index + 1}
            <input 
              readonly 
              value={source.name ?? ""}
            />
          </label>
        {/if}
        <label>
          Filter {index + 1}
          <input 
            bind:value={source.filter}
          />
        </label>
      </div>
      <button on:click={() => removeSource(index)} class="secondary">❌</button>
    </article>
  {/each}
</form>

<!-- Display for the created url -->
{#if createdUrl}
  <article>
    <label for="url">
      Your url is:
      <input value={createdUrl} type="url" readonly name="url" id="url" />
    </label>
    <footer>
      {#if createdUrl.length > 2000}
        Be warned, this url is quite long ({createdUrl.length} chars), <br/> which might be a problem for some
        systems.<br/> Try using fewer sources, or refrain from using static files
      {/if}
    </footer>
  </article>
{/if}

<style>
  .urlform > article {
    margin: 0;
  }
  .urlform form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .urlform {
    display: grid;
    grid-auto-columns: auto;
    gap: 1em;
  }
  @media (min-width: 770px) {
    .urlform form {
      grid-column-start: 2;
    }  
    .urlform {
      grid-template-columns: 1fr 1fr;
    }
  }
  .source-row {
    display: flex;
    gap: 1em;
  }
  .source-row label {
    flex: 3;
  }
  .source-row button {
    flex: 0;
    border-radius: 50%;
    margin-top: auto;
  }
</style>
